.info-image-container {
	--dark-1: hsla(0, 0%, 20%, 1);
	--dark-2: hsla(217, 48%, 32%, 1);
	--light-1: rgba(237, 242, 239, 0.5);
	--bright-1: hsla(11, 97%, 64%, 1);
	--bright-2: hsla(205, 94%, 40%, 1);
}

.info-image-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.background {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 5%;
	text-align: center;
	background: var(--dark-2);
	box-shadow: 0 -0.5rem 1.5rem 1rem var(--light-1);
	line-height: 1.2;
	letter-spacing: 0.05em;
	z-index: 0;
}

.background::after {
	position: absolute;
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background: var(--dark-1);
	box-shadow: 0rem 0rem 2rem 0.01rem var(--bright-1);
	opacity: 0.95;
	border-radius: 1%;
	transform: rotate(30deg);
	z-index: -1;
}

.background::before {
	position: absolute;
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 1%;
	background: var(--light-1);
	opacity: 0.7;
	box-shadow: 0rem 0rem 2rem 1rem var(--bright-2);
	transform: rotate(15deg);
	z-index: -1;
}

.icon-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	padding-top: 3%;
	transform: rotate(30deg);
	background: hsla(270, 50%, 50%, 0.1);

	z-index: 10;
}

.icon {
	flex: 1 1 auto;
	min-width: 22%;
	font-size: clamp(2.5rem, 4vw, 3.5rem);
	margin: 0 0.1rem;
	transform: rotate(-30deg);
	opacity: 9;
	transition: transform 0.3s ease-in-out;
}

.icon:hover {
	transform: scale(1.25) rotate(-30deg);
}
