.hero {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 300px;
    height: max-content;
    margin: auto;
    padding: 8% 0.5em 8% 0.5em;
    text-align: center;
    background: var(--dark-1);
    box-shadow: 0 -.5rem 1rem .25rem var(--light-1);
    line-height: 1.2;
    letter-spacing: 0.05em;
    z-index: 10;
}

.hero::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    min-height: 100%;
    padding: .2rem;
    background: var(--mid-1);
    box-shadow: 0rem 0rem 2rem .5rem var(--mid-3);
    opacity: 0.95;
    border-radius: 1%;
    transform: rotate(30deg);
    z-index: -1;
}

.hero::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 1%;
    background: var(--mid-3);
    opacity: 0.7;
    box-shadow: 0rem 0rem 2rem 2rem var(--dark-1);
    transform: rotate(15deg);
    z-index: -1;
}

.hero-header {
    font-size: 1.8rem;
    margin: 0;
    color: var(--light-1);
}

.hero-text {
    margin: 0.2em;
    font-size: 1rem;
    color: var(--light-1);
    max-width: 90%;
}

@media (max-width: 600px) {
    .hero {
        padding: 2%;
    }
    .hero-header {
        font-size: 2rem;
    }
    .hero-text {
        font-size: 1.1rem;
    }
}