@import "../../fonts/typography.css";

.hero {
	--dark-1: hsla(0, 0%, 20%, 1);
	--dark-2: hsla(217, 48%, 32%, 1);
	--light-1: rgba(237, 242, 239, 0.5);
	--bright-1: hsla(11, 97%, 64%, 1);
	--bright-2: hsla(205, 94%, 40%, 1);
}

.hero {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	min-width: 100%;
	margin-bottom: 8%;
	text-align: center;
}

.hero-text {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: clamp(18rem, 50%, 100%);
	margin: 0.2rem;
	color: var(--color-3);
	text-align: center;
}

.hero-text-unit {
	flex: 1 1 auto;
	position: relative;
	font-size: clamp(4.3rem, 7vw + 2rem, 7rem);
	text-align: center;
	z-index: 20;
}

#hero-text-unit-1 {
	font-family: "Cinzel Decorative";
	font-weight: normal;
	color: var(--color-5);
}

#hero-text-unit-2 {
	font-family: "Share Tech Mono";
}

#hero-text-unit-3 {
	font-family: Monoton;
	font-size: clamp(3.6rem, 5.5vw + 2rem, 5.5rem);
	color: var(--color-4);
}
/*
.hero-image-container {
	padding: 2%;
	width: clamp(12rem, 50vw, 25rem);
	height: clamp(12rem, 50vw, 25rem);
}
*/
.hero-background {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: clamp(12rem, 60vw, 22rem);
	height: clamp(12rem, 60vw, 22rem);
	margin: 5%;
	text-align: center;
	background: var(--dark-2);
	box-shadow: 0 -0.5rem 1.5rem 1rem var(--light-1);
	line-height: 1.2;
	letter-spacing: 0.05em;
	z-index: 1;
}

.hero-background::after {
	position: absolute;
	content: "";
	display: inline-block;
	width: clamp(12rem, 60vw, 22rem);
	height: clamp(12rem, 60vw, 22rem);
	background: var(--dark-1);
	box-shadow: 0rem 0rem 2rem 0.01rem var(--bright-1);
	opacity: 0.95;
	border-radius: 1%;
	transform: rotate(30deg);
	z-index: -1;
}

.hero-background::before {
	position: absolute;
	content: "";
	display: inline-block;
	width: clamp(12rem, 60vw, 22rem);
	height: clamp(12rem, 60vw, 22rem);
	border-radius: 1%;
	background: var(--light-1);
	opacity: 0.7;
	box-shadow: 0rem 0rem 2rem 1rem var(--bright-2);
	transform: rotate(15deg);
	z-index: -1;
}

@media (max-width: 812px) {
	.hero {
		align-items: flex-start;

		min-height: 0;
	}
	.hero-image-container {
		margin-bottom: 15%;
	}
}

@media (max-width: 400px) {
	.hero {
		align-items: flex-start;
		margin-top: 15%;
		min-height: 0;
	}
	.hero-header {
		font-size: 1.5rem;
	}
}
