@import url("https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Global styles */
:root {
	--color-1: hsla(0, 0%, 8%, 1);
	--color-2: hsl(144, 16%, 94%);
	--color-3: hsla(0, 0%, 100%, 1);
	--color-4: hsl(0, 0%, 16%);
	--color-5: hsl(286, 93%, 16%);
	--color-6: hsla(205, 94%, 40%, 1);
	--color-7: hsla(11, 97%, 64%, 1);
	--color-8: hsla(33, 52%, 56%, 1);
	--color-9: hsl(203, 23%, 36%);

	--light-1: hsl(144, 16%, 94%);
	--mid-1: #2c2c2c;
	--mid-2: #c99554;
	--mid-3: #c1432e;
	--dark-1: #476171;
	--dark-2: #292929;
	--dark-3: #3c034e;
	--primary-bg: hsla(0, 0%, 8%, 1);
	--primary-bg-text: white;
	--secondary-bg: hsla(0, 0%, 96%, 1);
	--secondary-bg-text: black;
	--tertiary-bg: hsla(217, 48%, 32%, 1);
	--tertiary-bg-text: white;
	--primary-text: white;
	--contrast-text: black;
	--primary-link: #fc6b4a;
	--primary-link-hover: hsla(205, 94%, 40%, 1);
	--primary-button: hsla(11, 97%, 64%, 1);
	--primary-button-hover: hsla(205, 94%, 40%, 1);
	--accent-1: hsla(11, 97%, 64%, 1);
	--accent-2: hsla(205, 94%, 40%, 1);
}
* {
	box-sizing: border-box;
}

html {
	font-family: "Courier New", Courier, monospace;
}

body {
	margin: 0;
	background: var(--color-1);
}

a {
	color: var(--color-7);
	transition: color 0.2s ease-in-out;
	text-decoration: none;
}

a:hover {
	color: var(--color-6);
}
