/* Global styles */
:root {
    --light-1: #EDF2EF;
    --mid-1: #2c2c2c;
    --mid-2: #C99554;
    --mid-3: #C1432E;
    --dark-1: #476171;
    --dark-2: #292929;
    --dark-3: #3C034E;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

a {
    color: var(--mid-2);
    transition: color .2s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: var(--light-1);
}