/* Global styles */
:root {
	--light-1: #edf2ef;
	--mid-1: #2c2c2c;
	--mid-2: #c99554;
	--mid-3: #c1432e;
	--dark-1: #476171;
	--dark-2: #292929;
	--dark-3: #3c034e;
	--primary-bg: #3c034e;
	--secondary-bg: #3c034e;
	--primary-text: #3c034e;
	--contrast-text: #3c034e;
	--primary-link: #3c034e;
	--primary-link-hover: #3c034e;
	--primary-button: #3c034e;
	--primary-button-hover: #3c034e;
}

html {
	font-family: "Courier New", Courier, monospace;
}

body {
	margin: 0;
}

a {
	color: var(--mid-2);
	transition: color 0.2s ease-in-out;
	text-decoration: none;
}

a:hover {
	color: var(--light-1);
}
