.home-main {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	max-width: 100vw;
}

.home-entry {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	background: var(--color-1);
}

.hero-container {
	display: flex;
	flex: 1 1 auto;
	margin-top: 2%;
}

.contact-container {
	text-align: center;
}

.social-container {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	z-index: 11;
}
