.home-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.home-entry {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background: var(--dark-2);
}

.hero-container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

.social-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}