/* Header */
.main-header {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: var(--color-1);
	color: var(--color-2);
}

.main-header-logo {
	/* margin: 0.5em 0 0 0.5em; */
	display: block;
	max-width: 35%;
	padding: 0.5rem;
	font-size: 1.8rem;
	font-family: Economica;
}

.main-header-logo a {
	display: block;
	color: var(--color-2);
	transition: transform 0.3s ease-in-out;
}

.main-header-logo a:hover {
	color: var(--color-2);
	transform: scale(1.05);
}
