.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.social-link {
    margin: 0 1rem;
    padding: 0;
    font-size: 4rem;
}


.linkedin-icon {
    font-size: 3.8rem;
}

.twitter-icon {
    font-size: 3.5rem;
}