/* Variables */
:root {
	--transition-duration-short: 0.3s;
	--transition-duration-long: 0.5s;

	--color-1: hsla(23, 100%, 53%, 1);
	--color-2: hsla(347, 100%, 61%, 1);
	--color-3: hsla(181, 79%, 54%, 1);
	--color-4: hsla(261, 56%, 18%, 1);
	--color-5: hsla(261, 89%, 7%, 1);

	--dark-background-2: hsla(261, 56%, 18%, 1);
	--dark-background-1: hsla(261, 89%, 7%, 1);
	--dark-text-1: hsla(0, 0%, 96%, 1);
}

/* Base element styles */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	border: 1px solid transparent;
	border-width: 0 0 1px 0;
	transition-duration: var(--transition-duration-short);
	transition-timing-function: ease-in;
}

a:hover {
	border-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--dark-text-1);
}

p {
	color: var(--dark-text-1);
}

.vertical-text {
	display: flex;
	padding-left: 0.5rem;
	writing-mode: vertical-rl;
	text-orientation: sideways;
}
