/* Variables */
:root {
	--transition-duration-short: 0.3s;
	--transition-duration-long: 0.5s;
	--transition-duration-very-long: 0.7s;

	--color-1: hsla(23, 100%, 53%, 1);
	--color-2: hsla(347, 100%, 61%, 1);
	--color-3: hsla(192, 59%, 48%, 1);
	--color-4: hsla(261, 56%, 18%, 1);
	--color-5: hsla(261, 89%, 7%, 1);

	--dark-background-2: hsla(261, 56%, 18%, 1);
	--dark-background-1: hsla(261, 89%, 7%, 1);
	--dark-background-1-trans: hsla(261, 89%, 7%, 0.5);
	--dark-background-1-semi-trans: hsla(261, 89%, 7%, 0.95);
	--dark-background-2-trans: hsla(261, 56%, 18%, 0.5);
	--dark-background-2-semi-trans: hsla(261, 56%, 18%, 0.8);
	--dark-text-1: hsla(0, 0%, 96%, 1);

	--body-font: "Inter", "sans-serif";
	--heading-font: "Raleway", "sans-serif";
	/*--heading-font: "Exo 2", "sans-serif"; */
}

/* Base element styles */
html {
	font-family: var(--body-font);
	color: var(--dark-text-1);
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	border: 1px solid transparent;
	border-width: 0 0 1px 0;
	transition-duration: var(--transition-duration-short);
	transition-timing-function: ease-in;
}

a:hover {
	border-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: var(--heading-font);
	color: var(--dark-text-1);
}

h2 {
	font-size: 2rem;
}

p {
	color: var(--dark-text-1);
}

.vertical-text {
	display: flex;
	padding-left: 0.5rem;
	writing-mode: vertical-rl;
	-webkit-text-orientation: sideways;
	text-orientation: sideways;
}

/* Put top page section below header */
.global-top-section {
	padding-top: 7rem;
}

/* Avoid social media sidebar */
.global-center-content {
	padding-right: calc(1.5rem + 4vw);
	padding-left: calc(2.5rem + 4vw);
}
